main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cover-page {
    height: 100vh;
    // min-height: 100vh;
    width: 100%;

    .container {
      width: 100%;
      height: 100%;
      height: 100vh;

      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      // background-color: rgba(0, 0, 0, 0.26);
      // overflow: hidden;

      .section-a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: pink;
        margin-top: 50px;

        .profileImg {
          img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            box-shadow: 0px 0px 6px 4px rgba(37, 37, 37, 0.308);
            margin-bottom: 30px;
          }
        }
        h1 {
          font-family: 'Yesteryear', cursive;
          font-size: 50px;
          color: #00000017;
          line-height: 0.94;
          margin-left: 10px;
          letter-spacing: 5px;
          // margin-bottom: 30px;
          border-bottom: 1px dotted rgba(202, 202, 202, 0.418);
        }
        h1 span {
          color: #ff26008e;
        }
      }

      .section-b {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-color: green;
        // border-top: 1px solid white;

        .about {
          padding: 20px;
          font-size: 29px;
          text-align: justify;
          // line-height: 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .bio {
            display: flex;
            // margin-bottom: 50px;
            justify-content: center;
          }
          span {
            font-size: 40px;
            color: coral;
            font-style: oblique;
          }
          p {
            // margin-left: 20px;
            color: rgb(116, 116, 116);
            font-family: 'Exo', sans-serif;
            font-size: 24px;
            text-align: center;
            // word-spacing: 10px;
            // line-height: 65px;

            margin-bottom: 5px;
          }

          .social {
            // margin-bottom: 50px;
            margin-top: 2px;
          }

          .social i {
            font-size: 13px;
            padding: 10px;
            color: rgb(88, 88, 88);
            background-color: rgba(63, 63, 63, 0.096);
            width: 32px;
            height: 32px;
            border-radius: 100%;
            text-align: center;
          }

          a {
            background-color: rgba(219, 219, 219, 0.329);
            padding: 30px;
            font-size: 40px;
            letter-spacing: 2px;
            border-radius: 40px;
            text-decoration: none;
            margin: 3px;
            color: coral;
            text-transform: uppercase;
            width: 400px;
            // height: 100px;
            text-align: center;
            box-shadow: 0px 0px 5px 4px rgb(182, 182, 182);
            margin-bottom: 40px;
          }

          a:hover {
            background-color: rgba(46, 46, 46, 0.329);
          }

          .lean-more {
            box-shadow: none;
            background: none;
          }
        }

        .scroll-arrows {
          position: relative;
          // bottom: 100px;
          // transform: translate(-50%, -50%);
          margin-top: 10px;

          span {
            display: block;
            width: 10px;
            height: 10px;
            border-bottom: 1px solid rgb(15, 6, 6);
            border-right: 1px solid rgb(7, 3, 3);
            transform: rotate(45deg);

            animation: arrow 2s infinite;
          }

          span:nth-child(2) {
            animation-delay: -0.2s;
            transform: rotate(45deg) translate(-10px, -20px);
          }
          span:nth-child(3) {
            animation-delay: -0.4s;
          }
        }

        @keyframes arrow {
          0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
          }
        }
      }
    }
  }

  .about-page {
    // background-color: rgb(196, 196, 196);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-a {
      // display: flex;
      // flex-direction: column;
      width: 100%;
      height: 100%;

      .about-title {
        font-family: 'Yesteryear', cursive;
        // font-family: 'Zilla Slab', 'Times New Roman', Times, serif;
        font-size: 35px;
        color: #ff26008e;
        line-height: 0.94;
        padding: 10px;
        letter-spacing: 5px;
        margin-bottom: 15px;
        text-align: center;
        margin-top: 20px;
      }

      .first-desc {
        // font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        // Roboto, 'Helvetica Neue', Arial, sans-serif;
        font-family: 'Exo', sans-serif;
        text-align: justify;
        // margin-bottom: 10px;
        font-size: 17px;
        padding: 10px;
      }

      .second-desc {
        // font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        //   Roboto, 'Helvetica Neue', Arial, sans-serif;
        font-family: 'Exo', sans-serif;
        // margin-bottom: 10px;
        padding: 10px;
        font-size: 17px;

        text-align: justify;
      }

      a {
        display: none;
      }
    }

    .section-b {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .about-title {
        // float: left;
        font-family: 'Yesteryear', cursive;
        // font-family: 'Zilla Slab', 'Times New Roman', Times, serif;
        font-size: 35px;
        color: #ff26008e;
        line-height: 0.94;
        padding: 10px;
        letter-spacing: 5px;
        margin-bottom: 10px;
        margin-top: 15px;
        text-align: center;
      }
      .outterList {
        font-family: 'Exo', sans-serif;
        margin: 0;
        padding: 0;
        list-style-type: none;
        // color: pink;

        li {
          margin: 10px;
        }

        .innerList {
          list-style-type: none;
          padding-left: 20px;

          li {
            .bash {
              width: 100px;
              height: 40px;
            }
            .NPM {
              width: 100px;
              height: 45px;
              // border: 1px solid black;
              float: left;
            }
            .yarn {
              width: 110px;
              height: 56px;
              margin-top: -7px;
              margin-left: 19px;
            }
            .html {
              width: 70px;
              height: 56px;
              margin-right: 10px;
              float: left;
            }
            .css {
              width: 70px;
              height: 59px;
              margin-right: 10px;
              float: left;
            }
            .js {
              width: 70px;
              height: 56px;
            }
            .eslint {
              width: 110px;
              height: 56px;

              float: left;
            }
            .stdjs {
              width: 55px;
              height: 55px;
              margin-left: 10px;
              float: left;
            }
            .airbnb {
              width: 65px;
              height: 60px;
              margin-left: 10px;
            }
            .webpack {
              margin-top: -10px;
              width: 220px;
              height: 90px;
              margin-left: -20px;
              float: left;
            }
            .parcle {
              width: 90px;
              height: 76px;
            }
            .react {
              width: 57px;
              height: 60px;
              margin-left: -5px;
              float: left;
            }
            .reactnt {
              width: 57px;
              height: 60px;
              margin-left: 40px;
            }
            .node {
              width: 70px;
              height: 56px;
              margin-left: -5px;
              float: left;
            }
            .php {
              width: 90px;
              height: 56px;
              margin-left: 20px;
            }
            .fbase {
              width: 70px;
              height: 65px;
              margin-right: 10px;
              float: left;
            }
            .postgre {
              width: 70px;
              height: 65px;
              margin-left: 15px;
            }
            .github {
              width: 110px;
              height: 56px;
              margin-left: -25px;
            }
          }
        }
      }
    }

    .scroll-arrows {
      position: relative;
      // bottom: 100px;
      // transform: translate(-50%, -50%);
      margin-top: 10px;

      span {
        display: block;
        width: 10px;
        height: 10px;
        border-bottom: 1px solid rgb(15, 6, 6);
        border-right: 1px solid rgb(7, 3, 3);
        transform: rotate(45deg);

        animation: arrow 2s infinite;
      }

      span:nth-child(2) {
        animation-delay: -0.2s;
        transform: rotate(45deg) translate(-10px, -20px);
      }
      span:nth-child(3) {
        animation-delay: -0.4s;
      }
    }
  }
}
