@import './layout/header';
@import './layout/main';
@import './layout/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* background-image: url("https://vignette.wikia.nocookie.net/overwatch/images/5/50/Wiki-background/revision/latest/scale-to-width-down/2000?cb=20171105231456"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(196, 196, 196, 0.205);
  // overflow: hidden;
  width: 100%;
}
